div.view_course_wrapper {
  height: 100%;
  width: 100%;
}

div.view_course_wrapper .side_viewer {
  height: 100%;
  width: 15%;
  background-color: #191923;
  display: inline-block;
  float: left;
}

div.view_course_wrapper .course_content {
  height: 100%;
  width: 85%;
  background-color: white;
  display: inline-block;
  float: right;
}
