div.view_course_wrapper {
  height: 100%;
  width: 100%;
  .side_viewer {
    height: 100%;
    width: 15%;
    background-color: #191923;
    display: inline-block;
    float: left;
  }
  .course_content {
    height: 100%;
    width: 85%;
    background-color: white;
    display: inline-block;
    float: right;
  }
}
