ion-header {
  .header {
    background-color: #191923;
    height: 60px;
    width: 100%;
    ion-buttons {
      ion-back-button {
        color: white;
        margin-top: 8px;
        --background-hover: rgba(255, 255, 255, 0.25);
        margin-left: 10px;
      }
    }
  }
}


div.about_wrapper {
  .vcampus_img {
    margin-top: 80px;
    text-align: center;
    img {
      height: 90px;
    }
  }
.about_text {
  color: grey;
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  p {
    width: 70%;
    margin:auto;
    font-size: 20px;
  span {
    color: #0567b0;

  }}
}

}
