ion-header .header {
  background-color: #191923;
  height: 60px;
  width: 100%;
}

ion-header .header ion-buttons ion-back-button {
  color: white;
  margin-top: 8px;
  --background-hover: rgba(255, 255, 255, 0.25);
  margin-left: 10px;
}

div.about_wrapper .vcampus_img {
  margin-top: 80px;
  text-align: center;
}

div.about_wrapper .vcampus_img img {
  height: 90px;
}

div.about_wrapper .about_text {
  color: grey;
}

div.about_wrapper .about_text h3 {
  text-align: center;
  text-transform: uppercase;
}

div.about_wrapper .about_text p {
  width: 70%;
  margin: auto;
  font-size: 20px;
}

div.about_wrapper .about_text p span {
  color: #0567b0;
}
