<ion-header>
  <div class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </div>

</ion-header>

<ion-content>
<div class="about_wrapper">
  <div class="vcampus_img">
    <img src="assets/vcampus.png" alt="company logo">
  </div>
  <div class="about_text">
    <h3>{{'aboutUs.title' | translate}}</h3>
    <p>
    {{'aboutUs.about_details' | translate}}
<span><br>{{'aboutUs.Ceo_name' | translate}}</span>
    </p>
  </div>

</div>
</ion-content>
