<ion-header>
  <div class="logo">
    <img src="assets/vcampus.png" alt="app logo">
  </div>
  <p>ABOUT US</p>
</ion-header>

<ion-content>
<div class="about_wrapper">
  <div class="vcampus_img">
    <img src="assets/vcampus.png" alt="company logo">
  </div>
  <div class="about_text">
    <h5>About us</h5>
    <p>
      Welcome to vCAMPUS, your number one 21st century learning platform focused on modernizing education for all. One virtual place for all things e-learning, distance training, corporate professional education, continue education, high school and university virtual learning. We're dedicated to giving you the very best of learning management system (LMS), with a focus on three characteristics, ie: dependability, customer service and uniqueness.

Founded in 2020 by Dr. Landry Deuboue, vCAMPUS has come a long way from its beginnings in USA. When the vCAMPUS founder first started out, his passion for improving education for all drove him to do intense research about education systems around the world, talking to actors of various education systems in various continents. This groundwork gave him the impetus to turn hard work and inspiration into a booming online education platform. We now serve customers all over the world who are thrilled to be a part of this innovative and revolutionary wing of the education industry.

We hope you enjoy our learning environment as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.

Sincerely,
<span><br>Dr. Landry Deuboue. Founder & CEO</span>
    </p>
  </div>

</div>
</ion-content>
