ion-content {
  ion-list {
    ion-item {
      margin-bottom: 6px;
      cursor: pointer;
      img {
        height: 23px;
        margin-right: 20px;
      }
      transition: 1s;
      &:hover {
        transition: 1s;
        background-color: red;
      }
    }
  }
}
