<ion-header>
  <div class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
  <div class="main_wrapper">
    <ion-card>
  <ion-card-header>
   <ion-card-title> <span>STUDENT REGISTRATION</span>
     <img src="assets/vhands.png" alt="">
   </ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
   <ion-label>FIRST NAME</ion-label>
   <ion-input type="name" [(ngModel)]="studentRegistration.first_name" required><ion-icon name="person"></ion-icon></ion-input>
   <ion-label>LAST NAME</ion-label>
   <ion-input type="name" [(ngModel)]="studentRegistration.last_name" required><ion-icon name="person"></ion-icon></ion-input>
   <ion-label>USERNAME</ion-label>
   <ion-input type="name" [(ngModel)]="studentRegistration.username" required><ion-icon name="contact"></ion-icon></ion-input>
   <ion-label>EMAIL</ion-label>
   <ion-input type="email" [(ngModel)]="studentRegistration.email" required><ion-icon name="mail"></ion-icon></ion-input>
   <ion-label>PASSWORD</ion-label>
   <ion-input type="password" type="password"[(ngModel)]="studentRegistration.password" required><ion-icon name="key"></ion-icon></ion-input>
   <ion-label>RE-ENTER PASSWORD</ion-label>
   <ion-input type="password" [(ngModel)]="this.password.reEnter" required><ion-icon name="key"></ion-icon></ion-input>
   <p><span>School selection</span></p>
   <ion-select  (ionChange)="viewCourses($event)" placeholder="Select a school">
      <ion-select-option value="uni1">University One</ion-select-option>
      <ion-select-option value="uni2">University Two</ion-select-option>
    </ion-select>
    <p id="view_course" (click)="presentModal()" [hidden]="viewCoursesOrNot">View course list</p>
   <ion-button (click)="presentLoading()" >REGISTER</ion-button>
  </ion-card-content>
  </ion-card>
  </div>

</ion-content>
