<ion-header>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title>Create Exam</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>
<div class="add_role" [hidden]="addCourseOrnot" (click)="showCreateExamModal()">
  <div  class="add">
    <p>Add new Exam</p>
    <ion-icon name="add"></ion-icon>
  </div>
</div>
<div class="courses" style="background-color: white;">

  <div *ngIf="showLoading" class="d-flex align-items-center">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div class="input-group mb-3"  *ngIf="role==5">
    <div class="input-group-prepend">
      <span class="input-group-text"  id="inputGroupFileAddon01">Choose School</span>
    </div>
     <select class="custom-select" required name="schoolDropdown"
      id="ddlSchool"
     (change)="onSchoolChange($event.target.value)">
      <option value="">--Select--</option>
      <option *ngFor="let school of schoolList" value={{school._id}}>
        {{school.school.school_name}}
      </option>
    </select>

    <div class="input-group-postpend">
      <button class="btn btn-primary" (click)="getAllExamBySchool()">Find Exams</button>
    </div>
  </div>
  <div class="table-responsive-sm">
    <table class="table table-sm table-bordered">
      <tr>
      <th>
        #
      </th>
      <th>
        Exam Name
      </th>
      <th>
        Description
      </th>
      <th>
        Start Date
      </th>
      <th>
        End Date
      </th>
      <th>Exam For</th>
      <th></th>
    </tr>
    <tr *ngFor="let q of examList; let i =index">
      <td>{{i+1}}</td>
      <td>{{q.Exam_Name}}</td>
      <td>{{q.Exam_Description}}</td>
      <td>{{q.Exam_StartDateTime | date: 'dd-MMM-yyyy'}}</td>
      <td>{{q.Exam_EndDateTime | date: 'dd-MMM-yyyy'}}</td>
      <td>{{q.Exam_Type}}</td>
      <td>
        <ion-buttons>
          <button (click)="showCreateExamModal();" class="btn btn-sm btn-success">
            <ion-icon name="md-create"></ion-icon>
          </button>
          <button *ngIf="role==5"  class="btn btn-sm btn-danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </td>
    </tr>
    </table>
</div>
</div>
</ion-content>
