<ion-header>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title>{{'Dashboard.title' | translate}}</ion-title>
  </ion-buttons>
</ion-header>

<ion-content padding>

  <div [style.display]="message != '' ? 'block' : 'none'"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" (click)="message=''" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="form-group row">

        <label for="courseCode" class="col-sm-3 col-form-label">{{'Dashboard.online_class_link' | translate}}</label>
        <div class="col-sm-5">
          <input type="text" [(ngModel)]="onlineClassLink" class="form-control" id="courseCode" placeholder="">
        </div>
        <div class="col-sm-3">
         <button class="btn btn-success" (click)="onJoinOnlineClass()">{{'Dashboard.join_online_class' | translate}}</button>
        </div>
      </div>

      <div class="form-group row">
        <label for="courseCode" class="col-sm-3 col-form-label">{{'Dashboard.enter_course_code' | translate}}</label>
        <div class="col-sm-5">
          <input type="text" [(ngModel)]="courseCode" class="form-control" id="courseCode" placeholder="">
        </div>
        <div class="col-sm-3">
         <button class="btn btn-outline-secondary" (click)="onEnrollCourse()">{{'Dashboard.enroll_course' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive-sm" style="margin-top: 10px;">
    <table class="table table-sm table-bordered table-striped " >
      <thead >
      <tr >
      <th style="width:5%">
        #
      </th>
      <th style="width:20%">
         {{'Dashboard.course_name' | translate}}
      </th>
      <th style="width:30%">
        {{'Dashboard.course_description' | translate}}
      </th>
      <th style="width:20%">
         {{'Dashboard.valid_from' | translate}}
      </th>
      <th style="width:22%">
        {{'Dashboard.valid_to' | translate}}
      </th>


    </tr>
  </thead>
    <tr *ngFor="let code of courseList; let i=index">
      <td>{{i+1}}</td>
      <td>{{code.name}}</td>
      <td>{{code.description}}</td>
      <td> {{code.availability_from | date :'dd-MM-yyyy'}}</td>
      <td>{{code.availability_to |date :'dd-MM-yyyy'}}</td>

    </tr>
    </table>
  </div>


</ion-content>
