<ion-header>
  <div class="logo">
    <img src="assets/vcampus.png" alt="app logo">
    <p>{{'Add_school_staff.title' | translate}}</p>
  </div>
</ion-header>

<ion-content>
  <div class="error">
    <p>{{error}}</p>
  </div>
  <ion-label>{{'Add_school_staff.username' | translate}}</ion-label>
  <ion-input type="name" [(ngModel)]="username" required></ion-input>
  <div>
  <ion-button>{{'Add_school_staff.add_staff' | translate}}</ion-button><br>
  <ion-button color="danger" (click)="dismiss()">{{'Add_school_staff.close' | translate}}</ion-button>
</div>
</ion-content>
