<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Add Exam</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="9" size-sm="12" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Question List</ion-card-title>
          </ion-card-header>
          <ion-card-content class="h-300">
            <ion-grid class="ion-no-padding">
              <ion-row *ngFor="let question of examDetail['questions']">
                <ion-col size="12" class="ion-no-padding">
                  <ion-label>Question {{ question.Question_No}}</ion-label>
                  <ion-input [(ngModel)]="question.question_title"></ion-input>
                </ion-col>
                <ion-col
                  size-md="11"
                  offset="1"
                  size-sm="12"
                  size="12"
                  class="ion-no-padding"
                >
                  <ion-radio-group>
                    <ion-list-header>
                      <ion-label>
                        Select Correct Answer *
                      </ion-label>
                    </ion-list-header>

                    <ion-item
                      *ngFor="let option of question['question_options']"
                    >
                      <ion-label class="m-lr-5"
                        >Option {{option.optionid}}</ion-label
                      >
                      <ion-radio
                        class="m-lr-5"
                        name="ques_options_{{question.question_No}}"
                      ></ion-radio>
                      <ion-input [(ngModel)]="option.option"></ion-input>
                    </ion-item>
                  </ion-radio-group>
                </ion-col>
                <ion-col text-right>
                  <ion-button (click)="saveQuestion(question.question_no)">SAVE QUESTION</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-grid text-center class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <ion-button (click)="addQuestion(lastQuestionNo)">
                    ADD QUESTION
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-sm="12" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Course details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <ion-label>Exam Name</ion-label>
                  <ion-input [(ngModel)]="examDetail.exam_name"></ion-input>
                </ion-col>
                <ion-col size="12" class="ion-no-padding mt-5">
                  <ion-label>Exam Description</ion-label>
                  <ion-textarea rows="6" [(ngModel)]="examDetail.exam_description"></ion-textarea>
                </ion-col>
                <ion-col size="12" class="ion-no-padding mt-5">
                  <ion-label>Exam Start</ion-label>
                  <ion-datetime
                    displayFormat="MM/DD/YYYY"
                    min="2020-03-14"
                    max="2040-12-09"
                    [(ngModel)]="examDetail.exam_startDateTime"
                  >
                  </ion-datetime>
                </ion-col>
                <ion-col size="12" class="ion-no-padding mt-5">
                  <ion-label>Exam End</ion-label>
                  <ion-datetime
                    displayFormat="MM/DD/YYYY"
                    min="2020-03-14"
                    max="2040-12-09"
                    [(ngModel)]="examDetail.exam_endDateTime"
                  >
                  </ion-datetime>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
