.current_page {
  background-color: white !important;
  color: #034578 !important;
}

.current_page_off {
  background-color: #034578 !important;
  color: white !important;
}

ion-header div.logo {
  display: inline-block;
  float: left;
  background-color: #191923;
  width: 100%;
}

ion-header div.logo img {
  height: 30px;
  margin: 17px 0 0 25px;
  display: inline-block;
}

ion-header div.logo p {
  display: inline-block;
  color: white;
  font-weight: bold;
  position: relative;
  left: 96px;
  bottom: 7px;
}

ion-header ion-toolbar ion-title {
  text-align: center;
}

ion-content div.wrapper {
  height: 100%;
  width: 100%;
}

ion-content div.wrapper div.side_left {
  display: inline-block;
  height: inherit;
  width: 30%;
  float: left;
  background-color: #19192321;
  position: fixed;
}

ion-content div.wrapper div.side_left .link {
  width: 100%;
  height: 27px;
  background-color: #034578;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content div.wrapper div.side_left .link p {
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 520;
}

ion-content div.wrapper div.add_details_login {
  display: inline-block;
  height: inherit;
  width: 70%;
  float: right;
  background-color: white;
}

ion-content div.wrapper div.add_details_login div.form {
  margin-top: 30px;
}

ion-content div.wrapper div.add_details_login div.form ion-label {
  letter-spacing: 1px;
  color: grey;
  margin-left: 45px;
}

ion-content div.wrapper div.add_details_login div.form ion-label:nth-child(1) {
  margin-top: 120px;
}

ion-content div.wrapper div.add_details_login div.form ion-input {
  width: 339px;
  height: 30px;
  border: 1px solid #8080803d;
  border-radius: 15px;
  margin: 4px auto 0 auto;
  transition: 1s;
}

ion-content div.wrapper div.add_details_login div.form ion-input ion-icon {
  margin-left: 6px;
  color: grey;
}

ion-content div.wrapper div.add_details_login div.form ion-button {
  margin-left: 37%;
  margin-top: 10px;
}

ion-content div.wrapper div.add_details_login div.form div.error p {
  text-align: center;
  color: #ff0000bd;
  font-size: 12px;
}

ion-content div.wrapper div.add_details_login div.add_details {
  margin-top: 30px;
}

ion-content div.wrapper div.add_details_login div.add_details div.error p {
  text-align: center;
  color: #ff0000bd;
  font-size: 12px;
}

ion-content div.wrapper div.add_details_login div.add_details ion-label {
  letter-spacing: 1px;
  color: grey;
  margin-left: 45px;
}

ion-content div.wrapper div.add_details_login div.add_details ion-input {
  width: 339px;
  height: 30px;
  border: 1px solid #8080803d;
  border-radius: 15px;
  margin: 4px auto 10px auto;
  letter-spacing: 1px;
  transition: 1s;
}

ion-content div.wrapper div.add_details_login div.add_details ion-textarea {
  width: 339px;
  border-radius: 15px;
  border: 1px solid #8080803d;
  margin: 4px auto 0 auto;
}

ion-content div.wrapper div.add_details_login div.add_details ion-button {
  margin-left: 39%;
  margin-bottom: 20px;
  margin-top: 10px;
}
