<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <!-- <ion-title>Courses list</ion-title> -->
  </ion-buttons>
</ion-header>

<ion-content class="bg-light">
  <!-- <ion-grid class="courses"> -->
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12">
        <ion-title no-padding class="ion-float-left mt-5">Course list</ion-title>
        <ion-button class="ion-float-right" size="" [hidden]="addCourseOrnot" [routerLink]="['add-course']">
          <ion-icon ios="add" md="md-trash"></ion-icon> Add a new Course
        </ion-button>
        <!--  <div class="add_role " [hidden]="addCourseOrnot" [routerLink]="['add-course']">
          <div class="add">
            <p>Add a new Course</p>
            <ion-icon name="add"></ion-icon>
          </div>
        </div> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="12" size-xs="12" *ngFor="let course of courses">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="width95">
              <ion-nav-link (click)="viewCourse(course._id)" color="primary" class="cursor-pointer">
                {{ course.name }}</ion-nav-link>
            </ion-card-title>
            <ion-button class="fixed-top" color="danger" size="small" (click)="removeCourse(course._id)">
              <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            </ion-button>
            <ion-card-subtitle>{{ course.description }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Total Section: {{course.sections.length}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>