<ion-header>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>{{'Courses_list.title' | translate}}</ion-title>
    </ion-buttons>
</ion-header>

<ion-content>
  <div class="add_role" [hidden]="addCourseOrnot" [routerLink]="['add-course']">
    <div  class="add">
      <p>{{'Courses_list.add_new_course' | translate}}</p>
      <ion-icon name="add"></ion-icon>
    </div>
  </div>
  <div class="courses" style="background-color: white;">

    <div *ngIf="showLoading" class="d-flex align-items-center">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>

    <div class="input-group mb-3"  *ngIf="role==5">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">{{'Courses_list.choose_school' | translate}}</span>
      </div>
       <select class="custom-select" required name="schoolDropdown"
        id="ddlSchool"
       (change)="onSchoolChange($event.target.value)">
        <option value="">--{{'Courses_list.select' | translate}}--</option>
        <option *ngFor="let school of schoolList" value={{school._id}}>
          {{school.school.school_name}}
        </option>
      </select>
      <!-- <select class="custom-select" *ngIf="role <5" required name="schoolDropdown"
        id="ddlSchool"
       (change)="onSchoolChange($event.target.value)">
        <option value="">--Select--</option>
        <option *ngFor="let school of schoolList" value={{school._id}}>
          {{school.school.school_name}}
        </option>
      </select> -->
      <div class="input-group-postpend">
        <button class="btn btn-primary" (click)="onClickFind()">{{'Courses_list.find_courses' | translate}}</button>
      </div>
    </div>
    <div class="table-responsive-sm">
    <table class="table  table-bordered table-striped " >
      <thead >
      <tr class="table-primary">
      <th>
        #
      </th>
      <th style="width:20%">
        C{{'Courses_list.course'}}
      </th>
      <th style="width:20%">
        {{'Courses_list.subject'}}
      </th>
      <th style="width:22%">
        {{'Courses_list.description' | translate}}
      </th>
      <th>
        {{'Courses_list.avail_from' | translate}}
      </th>
      <th>
        {{'Courses_list.avail_to' | translate}}
      </th>
      <!-- <th>
        Repeat Yearly ?
      </th> -->
      <th>
      </th>
    </tr>
  </thead>
    <tr *ngFor="let course of courseList; let i=index">
      <td>{{i+1}}</td>
      <td>{{ course.name}}</td>
      <td> {{course.subject}}</td>
      <td>{{course.description}}</td>
      <td>{{course.availability_from | date:"MMM, dd yyyy"}}</td>
      <td>{{course.availability_to | date:"MMM, dd yyyy"}}</td>
      <!-- <td>
        <input type="checkbox" checked="course.is_repeat_yearly" disabled>
      </td> -->
      <td>
        <ion-buttons>
        <button *ngIf="role==5" class="btn btn-sm btn-warning" [routerLink]="['add-course', {'id': course._id}]">
          <ion-icon name="md-create"></ion-icon>
        </button>
        <button (click)="showModal(course);" class="btn btn-sm btn-success">
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button *ngIf="role==5" (click)="deleteCourse(course._id);" class="btn btn-sm btn-danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
      </td>
    </tr>
    </table>
  </div>
  </div>
</ion-content>
