<ion-header>
<div class="title">Add Course</div>
</ion-header>
<ion-content>
  <div [style.display]="!validationError.formValid ? 'block' : 'none'"  class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{validationError.formField}}</strong> {{validationError.errorMessage}}!
  </div>
  <div [style.display]="successNotification.visible ? 'block' : 'none'"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successNotification.successMessage}}</strong>
    <button type="button" class="close" (click)="successNotification.visible=false" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form #f="ngForm" class="form"
    (ngSubmit)="onSubmit()" >
  <div class="row"> 
  <div class="col-md-5">
      <div class="card" >
        <div class="card-header">
          Course Detail
        </div>
        <div class="card-body"> 
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"  id="inputGroupFileAddon01">School *</span>
            </div>
             <select class="custom-select" required name="schoolDropdown"  
             [(ngModel)]="courseModel.school" id="ddlSchool" 
             (change)="onSchoolChange($event.target.value)">
              <option value="">--Choose School--</option>
              <option *ngFor="let school of schoolList" value={{school._id}}>
                {{school.school.school_name}}
              </option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"  id="inputGroupFileAddon01">Curriculum *</span>
            </div>
            <div style="height: 100px;width:100%; border: solid 1px #ced4da; overflow: auto;">
            <div class="form-check" *ngFor="let curr of curriculumList">
              <input  class="form-check-input"  type="checkbox"  name={{curr._id}} 
              [(ngModel)]="curr.checked" 
              value={{curr._id}}>
              <label class="form-check-label" for="{{curr._id}}">
                 {{curr.curriculum}}
              </label>
            </div>
          </div>
             <!-- <select multiple class="custom-select selectpicker" required name="curriculumDropdown"  
             [(ngModel)]="courseModel.curriculum" id="ddlCurriculum" 
             (change)="onCurriculumChange($event.target.value)">
              <option value="">--Choose curriculum--</option>
              <option *ngFor="let curr of curriculumList" value={{curr._id}}>
                {{curr.curriculum}}
              </option>
            </select> -->
          </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"  id="inputGroupFileAddon01">Course *</span>
          </div>
          <input type="text" name="courseName" required class="form-control" [(ngModel)]="courseModel.courseName" placeholder="Enter Course Name" aria-label="Enter Course Name" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Subject *</span>
          </div>
          <input type="text" required name="subject"  class="form-control" [(ngModel)]="courseModel.subject" placeholder="Enter Subject" aria-label="Enter Subject" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Description</span>
          </div>
          <textarea class="form-control" name="description" required rows="3" id="description" [(ngModel)]="courseModel.description" placeholder="Enter Description"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Available From *</span>
          </div>
          <ion-datetime displayFormat="MM/DD/YYYY" name="availableFrom" required class="form-control"
           [(ngModel)]="courseModel.availableFrom" min="2018" max="2030-10-31" placeholder="mm/dd/yyyy"></ion-datetime>
          <!-- <input type="date" name="availableFrom" required class="form-control" [(ngModel)]="courseModel.availableFrom"  aria-label="Available From" aria-describedby="button-addon2"> -->
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Available To *</span>
          </div>
          <ion-datetime displayFormat="MM/DD/YYYY" name="availaleTo" min="2018" max="2030-10-31"
          required class="form-control" [(ngModel)]="courseModel.availableTo" placeholder="mm/dd/yyyy"></ion-datetime>
          <!-- <input type="date" name="availaleTo" required class="form-control" [(ngModel)]="courseModel.availableTo" aria-label="Available To" aria-describedby="button-addon2"> -->
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            
            <div class="input-group-text">
              <input type="checkbox" name="repeatYearly" [(ngModel)]="courseModel.repeatYearly" aria-label="Repeat Yearly">
            </div>
            <span class="input-group-text" >Repeat Yearly?</span>
          </div>
          <input type="text" class="form-control" disabled aria-label="Text input with checkbox">
        </div>
        <div [style.display]="showSuccess ? 'block' : 'none'"  class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{statusMessage}}</strong>
          <button type="button" class="close" (click)="showSuccess=false" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
         <!-- For Debugging Purpose Only -->
        <!-- <pre>{{courseModel | json}}</pre> -->
        </div>
      </div>   
</div>
<div class="col-md-7">
  <div class="card" >
    <div class="card-header">
      Section & Paragraph
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Section *</span>
        </div>
        <input type="text" class="form-control"  name="section" [(ngModel)]="courseModel.section" placeholder="Enter Section" aria-label="Enter Section" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="onAddSection(courseModel.section);" type="button" >Add</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlSection">Choose Section *</label>
        </div>
        <select class="custom-select" [required]="courserId ==null" name="sectionDropdown"  [(ngModel)]="courseModel.sectionDropdown" id="ddlSection" (change)="onSectionChange($event.target.value)">
          <option value="">--Choose Section--</option>
          <option *ngFor="let section of sectionList" value={{section.sectionName}}>
            {{section.sectionName}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Chapter *</span>
        </div>
        <input type="text" class="form-control"  name="chapter" [(ngModel)]="courseModel.chapter"  placeholder="Enter Chapter" aria-label="Enter Chapter" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="onAddChapter(courseModel.chapter);" type="button" >Add</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlChapter">Choose Chapter *</label>
        </div>
        <select class="custom-select" [required]="courserId ==null" name="ddlChapter" [(ngModel)]="courseModel.chapterDropdown" id="ddlChapter" (change)="onChapterChange($event.target.value)">
          <option value="">--Choose Chapter--</option>
          <option *ngFor="let chapter of chapterList" value={{chapter.chapterName}}>
            {{chapter.chapterName}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Topic *</span>
        </div>
        <input type="text" name="topic" class="form-control" [(ngModel)]="courseModel.topicName" placeholder="Enter Topic" aria-label="Enter Topic" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onAddTopic(courseModel.topicName)" >Add</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlTopic">Choose Topic *</label>
        </div>
        <select class="custom-select" [required]="courserId ==null" name="topicDropdown" [(ngModel)]="courseModel.topicDropdown" id="ddlTopic" (change)="onTopicChange($event.target.value)">
          <option value="">--Choose Topic--</option>
          <option *ngFor="let topic of topicList" value={{topic.topicName}}>
            {{topic.topicName}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Paragraph *</span>
          <input type="button" value="Add Media" class="btn btn-sm btn-primary"(click)="onClickAddMedia()">
          <input type="button" value="Media List" class="btn btn-sm btn-secondary" 
          (click)="showMediaListModal()">
        </div>
        <editor style="width: 100%;" name="paragraph" [init]="initMCE" 
        [(ngModel)]="courseModel.paragraph"></editor>
        <!-- <textarea rows="3"  name="paragraph" [(ngModel)]="courseModel.paragraph" class="form-control" id="paragraph" placeholder="Enter paragraph"></textarea> -->
      </div>
      <div class="form-group">
        <!-- <pre>{{courseModel.paragraph | json}}</pre> -->
        <input type="button" (click)="onAddParagraph(courseModel.paragraph)" class="btn btn-sm btn-primary float-right" value="Add Paragarph" />
      </div>
      <div class="form-group">&nbsp;</div>
      
     
      <div >
        <input type="submit" class="btn btn-success float-left" [disabled]="!f.valid"  value="Save Course" />
        <div *ngIf="showLoading">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        
        <a class="btn btn-warning float-right" [routerLink]="['/rteacher/courses-list']">Go to Course List</a>
      </div>
      
    </div>
  </div>
</div>
</div>
</form>
</ion-content>
