<ion-header>
<div class="title">Add Course</div>
</ion-header>

<ion-content>
  <div class="wrapper">
  <div class="add_course">
    <ion-label>Section</ion-label>
    <div class="add_course_content">
    <select name="section">
      <option>{{sectionNumber}}</option>
      </select>
      <div class="chapter_one">
      <h5>Chapter 1</h5>
      <ion-label>Topic 1</ion-label>
      <ion-input></ion-input>
       <ion-label>Paragraph</ion-label>
       <ion-textarea rows="10">

       </ion-textarea>
       <div class="supporting_docs">
          <div class="file"></div>
          <div class="select_file">
            <ion-icon name="cloud-upload"></ion-icon> Select a file
          </div>
       </div>
       </div>
       <div class="chapter_two">
       <ion-label>Topic 2</ion-label>
       <ion-input></ion-input>
        <ion-label>Paragraph</ion-label>
        <ion-textarea rows="10">

        </ion-textarea>
        <div class="supporting_docs">
           <div class="file"></div>
           <div class="select_file">
             <ion-icon name="cloud-upload"></ion-icon> Select a file
           </div>
        </div>
        </div>
        <div class="chapter_three">
        <ion-label>Topic 3</ion-label>
        <ion-input></ion-input>
         <ion-label>Paragraph</ion-label>
         <ion-textarea rows="10">

         </ion-textarea>
         <div class="supporting_docs">
            <div class="file"></div>
            <div class="select_file">
              <ion-icon name="cloud-upload"></ion-icon> Select a file
            </div>
         </div>
         </div>
         <div class="chapter_four">
         <ion-label>Topic 4</ion-label>
         <ion-input></ion-input>
          <ion-label>Paragraph</ion-label>
          <ion-textarea rows="10">

          </ion-textarea>
          <div class="supporting_docs">
             <div class="file"></div>
             <div class="select_file">
               <ion-icon name="cloud-upload"></ion-icon> Select a file
             </div>
          </div>
          </div>
          <div class="chapter_five">
          <ion-label>Topic 5</ion-label>
          <ion-input></ion-input>
           <ion-label>Paragraph</ion-label>
           <ion-textarea rows="10">

           </ion-textarea>
           <div class="supporting_docs">
              <div class="file"></div>
              <div class="select_file">
                <ion-icon name="cloud-upload"></ion-icon> Select a file
              </div>
           </div>
           </div>
           <div class="chapter_one">
           <h5>Chapter 2</h5>
           <ion-label>Topic 1</ion-label>
           <ion-input></ion-input>
            <ion-label>Paragraph</ion-label>
            <ion-textarea rows="10">

            </ion-textarea>
            <div class="supporting_docs">
               <div class="file"></div>
               <div class="select_file">
                 <ion-icon name="cloud-upload"></ion-icon> Select a file
               </div>
            </div>
            </div>
            <div class="chapter_two">
            <ion-label>Topic 2</ion-label>
            <ion-input></ion-input>
             <ion-label>Paragraph</ion-label>
             <ion-textarea rows="10">

             </ion-textarea>
             <div class="supporting_docs">
                <div class="file"></div>
                <div class="select_file">
                  <ion-icon name="cloud-upload"></ion-icon> Select a file
                </div>
             </div>
             </div>
             <div class="chapter_three">
             <ion-label>Topic 3</ion-label>
             <ion-input></ion-input>
              <ion-label>Paragraph</ion-label>
              <ion-textarea rows="10">

              </ion-textarea>
              <div class="supporting_docs">
                 <div class="file"></div>
                 <div class="select_file">
                   <ion-icon name="cloud-upload"></ion-icon> Select a file
                 </div>
              </div>
              </div>
              <div class="chapter_four">
              <ion-label>Topic 4</ion-label>
              <ion-input></ion-input>
               <ion-label>Paragraph</ion-label>
               <ion-textarea rows="10">

               </ion-textarea>
               <div class="supporting_docs">
                  <div class="file"></div>
                  <div class="select_file">
                    <ion-icon name="cloud-upload"></ion-icon> Select a file
                  </div>
               </div>
               </div>
               <div class="chapter_five">
               <ion-label>Topic 5</ion-label>
               <ion-input></ion-input>
                <ion-label>Paragraph</ion-label>
                <ion-textarea rows="10">

                </ion-textarea>
                <div class="supporting_docs">
                   <div class="file"></div>
                   <div class="select_file">
                     <ion-icon name="cloud-upload"></ion-icon> Select a file
                   </div>
                </div>
                </div>
                <div class="chapter_one">
                <h5>Chapter 3</h5>
                <ion-label>Topic 1</ion-label>
                <ion-input></ion-input>
                 <ion-label>Paragraph</ion-label>
                 <ion-textarea rows="10">

                 </ion-textarea>
                 <div class="supporting_docs">
                    <div class="file"></div>
                    <div class="select_file">
                      <ion-icon name="cloud-upload"></ion-icon> Select a file
                    </div>
                 </div>
                 </div>
                 <div class="chapter_two">
                 <ion-label>Topic 2</ion-label>
                 <ion-input></ion-input>
                  <ion-label>Paragraph</ion-label>
                  <ion-textarea rows="10">

                  </ion-textarea>
                  <div class="supporting_docs">
                     <div class="file"></div>
                     <div class="select_file">
                       <ion-icon name="cloud-upload"></ion-icon> Select a file
                     </div>
                  </div>
                  </div>
                  <div class="chapter_three">
                  <ion-label>Topic 3</ion-label>
                  <ion-input></ion-input>
                   <ion-label>Paragraph</ion-label>
                   <ion-textarea rows="10">

                   </ion-textarea>
                   <div class="supporting_docs">
                      <div class="file"></div>
                      <div class="select_file">
                        <ion-icon name="cloud-upload"></ion-icon> Select a file
                      </div>
                   </div>
                   </div>
                   <div class="chapter_four">
                   <ion-label>Topic 4</ion-label>
                   <ion-input></ion-input>
                    <ion-label>Paragraph</ion-label>
                    <ion-textarea rows="10">

                    </ion-textarea>
                    <div class="supporting_docs">
                       <div class="file"></div>
                       <div class="select_file">
                         <ion-icon name="cloud-upload"></ion-icon> Select a file
                       </div>
                    </div>
                    </div>
                    <div class="chapter_five">
                    <ion-label>Topic 5</ion-label>
                    <ion-input></ion-input>
                     <ion-label>Paragraph</ion-label>
                     <ion-textarea rows="10">

                     </ion-textarea>
                     <div class="supporting_docs">
                        <div class="file"></div>
                        <div class="select_file">
                          <ion-icon name="cloud-upload"></ion-icon> Select a file
                        </div>
                     </div>
                     </div>
                     <div class="chapter_one">
                     <h5>Chapter 5</h5>
                     <ion-label>Topic 1</ion-label>
                     <ion-input></ion-input>
                      <ion-label>Paragraph</ion-label>
                      <ion-textarea rows="10">

                      </ion-textarea>
                      <div class="supporting_docs">
                         <div class="file"></div>
                         <div class="select_file">
                           <ion-icon name="cloud-upload"></ion-icon> Select a file
                         </div>
                      </div>
                      </div>
                      <div class="chapter_two">
                      <ion-label>Topic 2</ion-label>
                      <ion-input></ion-input>
                       <ion-label>Paragraph</ion-label>
                       <ion-textarea rows="10">

                       </ion-textarea>
                       <div class="supporting_docs">
                          <div class="file"></div>
                          <div class="select_file">
                            <ion-icon name="cloud-upload"></ion-icon> Select a file
                          </div>
                       </div>
                       </div>
                       <div class="chapter_three">
                       <ion-label>Topic 3</ion-label>
                       <ion-input></ion-input>
                        <ion-label>Paragraph</ion-label>
                        <ion-textarea rows="10">

                        </ion-textarea>
                        <div class="supporting_docs">
                           <div class="file"></div>
                           <div class="select_file">
                             <ion-icon name="cloud-upload"></ion-icon> Select a file
                           </div>
                        </div>
                        </div>
                        <div class="chapter_four">
                        <ion-label>Topic 4</ion-label>
                        <ion-input></ion-input>
                         <ion-label>Paragraph</ion-label>
                         <ion-textarea rows="10">

                         </ion-textarea>
                         <div class="supporting_docs">
                            <div class="file"></div>
                            <div class="select_file">
                              <ion-icon name="cloud-upload"></ion-icon> Select a file
                            </div>
                         </div>
                         </div>
                         <div class="chapter_five">
                         <ion-label>Topic 5</ion-label>
                         <ion-input></ion-input>
                          <ion-label>Paragraph</ion-label>
                          <ion-textarea rows="10">

                          </ion-textarea>
                          <div class="supporting_docs">
                             <div class="file"></div>
                             <div class="select_file">
                               <ion-icon name="cloud-upload"></ion-icon> Select a file
                             </div>
                          </div>
                          </div>
                          <div class="chapter_one">
                          <h5>Chapter 5</h5>
                          <ion-label>Topic 1</ion-label>
                          <ion-input></ion-input>
                           <ion-label>Paragraph</ion-label>
                           <ion-textarea rows="10">

                           </ion-textarea>
                           <div class="supporting_docs">
                              <div class="file"></div>
                              <div class="select_file">
                                <ion-icon name="cloud-upload"></ion-icon> Select a file
                              </div>
                           </div>
                           </div>
                           <div class="chapter_two">
                           <ion-label>Topic 2</ion-label>
                           <ion-input></ion-input>
                            <ion-label>Paragraph</ion-label>
                            <ion-textarea rows="10">

                            </ion-textarea>
                            <div class="supporting_docs">
                               <div class="file"></div>
                               <div class="select_file">
                                 <ion-icon name="cloud-upload"></ion-icon> Select a file
                               </div>
                            </div>
                            </div>
                            <div class="chapter_three">
                            <ion-label>Topic 3</ion-label>
                            <ion-input></ion-input>
                             <ion-label>Paragraph</ion-label>
                             <ion-textarea rows="10">

                             </ion-textarea>
                             <div class="supporting_docs">
                                <div class="file"></div>
                                <div class="select_file">
                                  <ion-icon name="cloud-upload"></ion-icon> Select a file
                                </div>
                             </div>
                             </div>
                             <div class="chapter_four">
                             <ion-label>Topic 4</ion-label>
                             <ion-input></ion-input>
                              <ion-label>Paragraph</ion-label>
                              <ion-textarea rows="10">

                              </ion-textarea>
                              <div class="supporting_docs">
                                 <div class="file"></div>
                                 <div class="select_file">
                                   <ion-icon name="cloud-upload"></ion-icon> Select a file
                                 </div>
                              </div>
                              </div>
                              <div class="chapter_five">
                              <ion-label>Topic 5</ion-label>
                              <ion-input></ion-input>
                               <ion-label>Paragraph</ion-label>
                               <ion-textarea rows="10">

                               </ion-textarea>
                               <div class="supporting_docs">
                                  <div class="file"></div>
                                  <div class="select_file">
                                    <ion-icon name="cloud-upload"></ion-icon> Select a file
                                  </div>
                               </div>
                               </div>
      </div>
  </div>
  <div class="add_section_btn">
    <ion-button>
      ADD SECTION
    </ion-button>
  </div>
  <div class="course_details">
    <ion-card>
      <ion-card-header>
    <ion-card-title>Course details</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label>Course name</ion-label>
    <ion-input></ion-input>
    <ion-label>Course description</ion-label>
    <ion-textarea rows="8"></ion-textarea>
    <ion-label>Course subjects</ion-label>
    <div class="course_subject">
      <select name="subject">
        <option>None</option>
         <option>Architecture</option>
         <option>Art & Culture</option>
         <option>Biology & Life Sciences</option>
         <option>Business & Management</option>
         <option>Chemistry</option>
         <option>Communication</option>
         <option>Computer Science</option>
         <option>Data Analysis & Statistics</option>
         <option>Design</option>
         <option>Economics & Finance</option>
         <option>Education & Teacher Training</option>
         <option>Electronics</option>
         <option>Energy & Earth Sciences</option>
         <option>Engineering</option>
         <option>Environmental Studies</option>
         <option>Ethics</option>
         <option>Food & Nutrition</option>
         <option>Health & Safety</option>
         <option>History</option>
         <option>Humanities</option>
         <option>Language</option>
         <option>Law</option>
         <option>Literature</option>
         <option>Math</option>
         <option>Medicine</option>
         <option>Music</option>
         <option>Philanthropy</option>
         <option>Philosophy & Ethics</option>
         <option>Physics</option>
         <option>Science</option>
         <option>Social Sciences</option>
      </select>
    </div>
    <ion-label>School selection</ion-label>
    <div class="school_seletc">
      <select name="schools">
        <option>None</option>
      </select>
    </div>
    <ion-label>Course curriculum</ion-label>
    <div class="course_curriculum">
      <select name="curriculums">
        <option>None</option>
      </select>
    </div>
    <ion-label>Course availability</ion-label>
    <div class="course_availability">
      <p>from</p>
      <ion-datetime displayFormat="MM/DD/YYYY" min="2020-03-14" max="2040-12-09" value="2020-01-01T15:03:46.789"></ion-datetime>
      <p>To</p>
      <ion-datetime displayFormat="MM/DD/YYYY" min="2020-03-14" max="2040-12-09" value="2020-01-01T15:03:46.789"></ion-datetime>
      <p>Repeat yearly</p>
      <ion-checkbox checked="true"></ion-checkbox>
    </div>
    <div class="add_course_btn">
      <ion-button>Add course</ion-button>
    </div>
  </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>
