<ion-header>
<div class="title">Add Course</div>
</ion-header>
<ion-content>
  <div class="row">
  <div class="col-md-5">
      <div class="card" >
        <div class="card-header">
          Course Detail
        </div>
        <div class="card-body"> 
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Course</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Topic" aria-label="Enter Course Name" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Subject</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Subject" aria-label="Enter Subject" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Description</span>
          </div>
          <textarea class="form-control" rows="3" id="description" placeholder="Enter Description"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Available From</span>
          </div>
          <input type="date" class="form-control"  aria-label="Enter Subject" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Available To</span>
          </div>
          <input type="date" class="form-control"  aria-label="Enter Subject" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            
            <div class="input-group-text">
              <input type="checkbox" aria-label="Repeat Yearly">
            </div>
            <span class="input-group-text" >Repeat Yearly?</span>
          </div>
          <input type="text" class="form-control" disabled aria-label="Text input with checkbox">
        </div>
        </div>
      </div>   
</div>
<div class="col-md-7">
  <div class="card" >
    <div class="card-header">
      Section & Paragraph
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Section</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="courseModel.section" placeholder="Enter Section" aria-label="Enter Section" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="onAddSection(courseModel.section);" type="button" >Add</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlSection">Choose Section</label>
        </div>
        <select class="custom-select" id="ddlSection" (change)="onSectionChange($event.target.value)">
          <option value="">--Choose Section--</option>
          <option *ngFor="let section of sectionList" value={{section.sectionName}}>
            {{section.sectionName}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Chapter</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="courseModel.chapter"  placeholder="Enter Chapter" aria-label="Enter Chapter" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="onAddChapter(courseModel.chapter);" type="button" >Add</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlChapter">Choose Chapter</label>
        </div>
        <select class="custom-select" id="ddlChapter" (change)="onChpaterChange($event.target.value)">
          <option value="">--Choose Chapter--</option>
          <option *ngFor="let chapter of chapterList" value={{chapter.chapterName}}>
            {{chapter.chapterName}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Topic</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="courseModel.topicName" placeholder="Enter Topic" aria-label="Enter Topic" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onAddTopic(courseModel.topicName)" >Add</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlTopic">Choose Topic</label>
        </div>
        <select class="custom-select" id="ddlTopic" (change)="onTopicChange($event.target.value)">
          <option value="">--Choose Topic--</option>
          <option *ngFor="let topic of topicList" value={{topic.topicName}}>
            {{topic.topicName}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Paragraph</span>
        </div>
        <textarea rows="3" [(ngModel)]="courseModel.paragraph" class="form-control" id="paragraph" placeholder="Enter paragraph"></textarea>
      </div>
      <div class="form-group">
        <input type="button" (click)="onAddParagraph(courseModel.paragraph)" class="btn btn-sm btn-primary float-right" value="Add Paragarph" />
      </div>
      <div class="form-group">&nbsp;</div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="ddlParagraph">Choose Paragraph</label>
        </div>
        <select class="custom-select" id="ddlParagraph" (change)="onParagraphChange($event.target.value)">
          <option value="">--Choose Paragraph--</option>
          <option *ngFor="let paragraph of paragraphList" value={{paragraph.paragraphName}}>
            {{paragraph.paragraphName}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Supporting Docs</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <input type="button" class="btn btn-success float-left" value="Save Course" />
    </div>
  </div>
</div>
</div>
<!-- <pre>{{blocks | json}}</pre> -->
  </ion-content>
