<ion-header>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title>Exam list</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>
<div class="add_role" [hidden]="addCourseOrnot" [routerLink]="['add-course']">
  <div  class="add">
    <p>Add new Question</p>
    <ion-icon name="add"></ion-icon>
  </div>
</div>
<div class="courses" style="background-color: white;">

  <div *ngIf="showLoading" class="d-flex align-items-center">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div class="input-group mb-3"  *ngIf="role==5">
    <div class="input-group-prepend">
      <span class="input-group-text"  id="inputGroupFileAddon01">Choose School</span>
    </div>
     <select class="custom-select" required name="schoolDropdown"  
      id="ddlSchool" 
     (change)="onSchoolChange($event.target.value)">
      <option value="">--Select--</option>
      <option *ngFor="let school of schoolList" value={{school._id}}>
        {{school.school.school_name}}
      </option>
    </select>
    <!-- <select class="custom-select" *ngIf="role <5" required name="schoolDropdown"  
      id="ddlSchool" 
     (change)="onSchoolChange($event.target.value)">
      <option value="">--Select--</option>
      <option *ngFor="let school of schoolList" value={{school._id}}>
        {{school.school.school_name}}
      </option>
    </select> -->
    <div class="input-group-postpend">
      <button class="btn btn-primary" (click)="onClickFind()">Find Courses</button>
    </div>
  </div>
  <div class="table-responsive-sm">
 
</div>
</div>
</ion-content>
