<ion-header>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title>Exam</ion-title>
  </ion-buttons>
</ion-header>

<ion-content padding>

  <div class="row"> 
    <div class="col-md-2">

<div class="row" [hidden]="addCourseOrnot" (click)="onClickAddQuestion()">
  <div  class="btn btn-outline-secondary  btn-block">
    <p>Add Multi-Choice Question</p>
    <ion-icon name="add"></ion-icon>
  </div>
</div>

<div class="row"  [hidden]="addCourseOrnot" (click)="showTrueFalseQuestionModal()">
  <div  class="btn btn-outline-secondary btn-block">
    <p>Add True-False Question</p>
    <ion-icon name="add"></ion-icon>
  </div>
</div>

<div class="row"  [hidden]="addCourseOrnot" (click)="showFillTheBlanksQuestionModal()">
  <div  class="btn btn-outline-secondary btn-block">
    <p>Add Fill The Blank Question</p>
    <ion-icon name="add"></ion-icon>
  </div>
</div>
  <div  class="row">
  <div class="btn btn-outline-secondary btn-block" [routerLink]="['create-exam']">
    <p>Generate New Exam</p>
    <ion-icon name="add"></ion-icon>
  </div>
</div>

</div>
<div class="col-md-10">

<div  style="background-color: white;">

  <div *ngIf="showLoading" class="d-flex align-items-center">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div class="input-group mb-3"  *ngIf="role==5">
    <div class="input-group-prepend">
      <span class="input-group-text"  id="inputGroupFileAddon01">Choose School</span>
    </div>
     <select class="custom-select" required name="schoolDropdown"
      id="ddlSchool"
     (change)="onSchoolChange($event.target.value)">
      <option value="">--Select--</option>
      <option *ngFor="let school of schoolList" value={{school._id}}>
        {{school.school.school_name}}
      </option>
    </select>

    <div class="input-group-postpend">
      <button class="btn btn-primary" (click)="onClickFind()">Find Questions</button>
    </div>
  </div>
  <div class="table-responsive-sm">
    <table class="table table-sm table-bordered">
      <tr>
      <th>
        #
      </th>
      <th>
        Question
      </th>
      <th>
        Options
      </th>
      <th>
        Answer
      </th>
      <th>Question For</th>
      <th></th>
    </tr>
    <tr *ngFor="let q of questionList; let i =index">
      <td>{{i+1}}</td>
      <td>{{q.Question_title}}</td>
      <td>
        <ol>
          <li *ngFor="let o of q.Question_options">{{o.option}}</li>
        </ol>
      </td>
      <td>{{q.Correct_answer}}</td>
      <td>{{q.Question_for}}</td>
      <td>
        <ion-buttons>
          <button (click)="showAddQuestionModal();" class="btn btn-sm btn-success">
            <ion-icon name="md-create"></ion-icon>
          </button>
          <button *ngIf="role==5"  class="btn btn-sm btn-danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </td>
    </tr>
    </table>
</div>
</div>
</div>
</div>
</ion-content>
