<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>{{'Generate_course_code.title' | translate}}</ion-title>
    </ion-buttons>
</ion-header>

<ion-content padding>

  
  <div *ngIf="showLoading" class="d-flex align-items-center">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="btn btn-outline-secondary  btn-block" (click)="showCourseCodeGeneratorModal()" >
        <div class="add">
          <p>{{'Generate_course_code.title' | translate}}</p>
          <ion-icon name="add"></ion-icon>
        </div>
    </div>

    </div>
    <div class="col-md-10">
  
  <div class="table-responsive-sm" style="margin-top: 10px; ">
    <div style="text-align: right; padding-bottom: 5px;">
    <button (click)="download()" class="btn btn-secondary ">Export to CSV</button>
  </div>
    <table class="table table-bordered table-striped " >
      <thead >
      <tr >
      <th style="width:5%">
        #
      </th>
      <th style="width:18%">
        {{'Generate_course_code.curriculum' | translate}}
      </th>
      <th style="width:9%">
        {{'Generate_course_code.course_code' | translate}}
      </th>
      <th style="width:18%">
        {{'Generate_course_code.valid_from' | translate}}
      </th>
      <!-- <th style="width:15%">
        {{'Generate_course_code.valid_to' | translate}}
      </th> -->
      <th style="width:12%">
        {{'Generate_course_code.generated_by' | translate}}
      </th>
      <th style="width:15%">
        {{'Generate_course_code.generated_on' | translate}}
      </th>
      <th style="width:10%">

      </th>
      <!-- <th>
      </th> -->
    </tr>
  </thead>
    <tr *ngFor="let code of courseCodeList; let i=index">
      <td>{{i+1}}</td>
      <td>{{code.curriculum.curriculum}}</td>
      <td>{{code.courseCode}}</td>
      <td> {{code.courseCodeValidFrom | date : 'dd-MMM-yy'}} - {{code.courseCodeValidTo | date : 'dd-MMM-yy'}}</td>
      <!-- <td>{{code.courseCodeValidTo | date : 'dd-MMM-yyyy'}}</td> -->
      <td>{{code.createdBy.username}}</td>
      <td> {{code.createdAt | date : 'dd-MMM-yy hh:mm'}}</td>
      <td>
        <ion-buttons>
          <button (click)="showSendMailModal(code);" class="btn btn-sm btn-success">
            Send Email
          </button>
          
        </ion-buttons>
      </td>
    </tr>
    </table>
  </div>

</div>
</div>
</ion-content>
