<div class="card">
  <div class="card-header">
    Add All True Questions
      <button (click)="dismiss()" class="btn btn-sm btn-danger float-right">X</button>
  </div>
  <div class="card-body" style="height:400px;overflow: auto !important;">
    <form #f="ngForm" class="form"
    (ngSubmit)="onSubmit()" >

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">School *</span>
      </div>
       <select class="custom-select" required name="schoolDropdown"  
       [(ngModel)]="questionModal.school" id="ddlSchool" 
       (change)="onSchoolChange($event.target.value)">
        <option value="">{{loadingSchool}}</option>
        <option *ngFor="let school of schoolList" value={{school._id}}>
          {{school.school.school_name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">Course *</span>
      </div>
       <select class="custom-select" required name="curriculumDropdown"  
       [(ngModel)]="questionModal.course" id="ddlCurriculum" 
       >
        <option value="">{{loadingCourse}}</option>
        <option *ngFor="let c of courseList" value={{c._id}}>
          {{c.name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">Question For *</span>
      </div>
      <select class="custom-select" required name="questionForDropdown"  
       [(ngModel)]="questionModal.Question_for" id="ddlQuestionFor" 
       >
        <option value="">---Select---</option>
        <option value="Exam">Exam</option>
        <option value="Quiz">Quiz</option>
        <option value="Practice">Practice</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="questionTitle">Question *</span>
      </div>
      <input type="text" [(ngModel)]="questionModal.Question_title" name="questionTitle"  class="form-control">      
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="questionOption">Options *</span>
      </div>
      <input type="text" [(ngModel)]="questionModal.option" name="questionOption"  class="form-control">      
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="onAddOption(questionModal.option)" >Add</button>
      </div>
    </div>

    <div >
      <table class="table table-sm ">
        <tr *ngFor="let o of questionModal.Question_options">
          <td>
            {{o.optionid}}
          </td>
          <td>
          {{o.option}}
        </td>
        <td>
          <input type="checkbox"  name={{o.optionid}} [(ngModel)]="o.checked" value={{o.optionid}}>
        </td>
      </tr>
      </table>
    </div>

    <input type="submit" class="btn btn-success" [disabled]="!f.valid"  value="Save Question" />    
    </form>
</div>
</div>
