<ion-header>
  <ion-buttons slot="start">
  <!-- <ion-menu-button></ion-menu-button> -->
  <ion-back-button></ion-back-button>
  <ion-title>Course Name</ion-title>
  </ion-buttons>
</ion-header>

<ion-content padding>
  
<div class="row">
  <div class="col-md-3">
    <div class="alert" style="border: solid 1px orange">
      <p><b>Assignment</b></p>
    </div>
    <div  style="min-height: 475px; border: solid 1px orange;">
    <ion-list>
      <ion-item *ngFor="let exam of examList" (click)="onItemClick(exam)" >
        <ion-label>
          <h2>{{exam.Exam_Name}}</h2>
          <h4>{{exam.Exam_Type}}</h4>
          <h4 style="color: red;" *ngIf="exam.Exam_Status !='Completed'">{{exam.Exam_Status | uppercase}}</h4>
          <h4 style="color: rgba(27, 214, 27, 0.815);" *ngIf="exam.Exam_Status =='Completed'"><b>{{exam.Exam_Status | uppercase}}</b></h4>
          <p>Complete before : {{exam.Exam_EndDateTime | date:'dd-MMM-yy hh:mm'}}</p>
          <button (click)="showStartExamModal(exam)" *ngIf="exam.Exam_Status !='Completed'" class="btn btn-sm btn-outline btn-danger">Start</button>
          <button (click)="checkCorrectAnswer(exam)" *ngIf="exam.Exam_Status =='Completed'" class="btn btn-sm btn-outline btn-success">Check Correct Answer</button>
        </ion-label>
        
      </ion-item>
    </ion-list>
  </div>
  </div>

  <div class="col-md-6" >
 <div style="min-height: 550px;">
  <div *ngIf="content !=null" style=" padding:5px">
  <div [innerHTML]="content"></div>
</div>
  <video *ngIf="content ==null" width="100%" style="height: 555px;" controls>
    <source src="movie.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>

 </div>
  </div>
  <div class="col-md-3">
    <div class="alert" style="border:solid 1px rgb(82, 179, 243);" >
      <p><b>Course Content</b></p>
    </div>
    <div  style="min-height: 475px;border: solid 1px rgb(82, 179, 243);">
    <ion-list>
      <ion-item *ngFor="let p of selectedCourse?.chapters" (click)="onItemClick(p.courseContent)" >
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>
          <h2>{{p.chapterName}} </h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  </div>
</div>
</ion-content>
