<ion-header>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title>Assignments</ion-title>
  </ion-buttons>
</ion-header>

<ion-content padding>

  <div class="row">
    <div class="col-sm-6 " [ngClass]="exam.Exam_Status=='Pending'?'alert-danger':'alert-success'" *ngFor="let exam of examList[0]" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" *ngIf="exam.Exam_Status==='Pending'">You have pending !!!</h5>
          <p class="card-text"><b>{{exam.Exam_Name}}</b></p>
          <p class="card-text" *ngIf="exam.Exam_Status==='Completed'"><b>Scored {{exam.CorrectAnswer}} out of {{exam.TotalQuestion}}</b></p>
          <p style="color: red;" *ngIf="exam.Exam_Status==='Pending'" >Complete before: {{exam.Exam_EndDateTime | date:'dd,MMM yyyy hh:mm'}}</p>
          <p style="color: green;" *ngIf="exam.Exam_Status==='Completed'" >Completed on: {{exam.Exam_EndDateTime | date:'dd,MMM yyyy hh:mm'}}</p>
          <button (click)="showStartExamModal(exam)" *ngIf="exam.Exam_Status==='Pending'" class="btn btn-danger">Start</button>
          <button class="btn btn-success" [disabled]="true" *ngIf="exam.Exam_Status==='Completed'" >Completed</button>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-6 alert-success" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">You have pending !!!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Start</a>
        </div>
      </div>
    </div> -->
    
  </div>

  
</ion-content>
