<ion-menu side="start" menuId="first" contentId="menu-content">
  <ion-header>
    <div class="user">
      <div class="icon">
        <img src="/assets/person.png" alt="account icon" />
      </div>
      <div class="account_info">
        <h6>{{userName.first_name}} {{userName.last_name}}</h6>
        <p><ion-icon name="person"></ion-icon>{{'Admin.admin' | translate}}</p>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- <ion-item lines="none">
        <div><ion-icon name="chatboxes"></ion-icon>Messages</div></ion-item
      > -->
      <ion-item lines="none" [routerLink]="['/admin/chat']"
        [hidden]=true><ion-icon name="chatboxes"></ion-icon>{{'Admin.Messages' | translate}}</ion-item
      >

      <ion-item lines="none" [routerLink]="['/admin/usersandgroup']"
        [hidden]=true><ion-icon name="chatboxes"></ion-icon>{{'Admin.Group_chat' | translate}}</ion-item
      >

      <ion-item lines="none" [routerLink]="['/admin/school-list']"
        ><ion-icon name="home"></ion-icon>{{'Admin.Schools' | translate}}</ion-item
      >
      <ion-item lines="none" [routerLink]="['/admin/staff-list']"
        ><ion-icon name="person"></ion-icon>{{'Admin.School_Staff' | translate}}</ion-item
      >
      <ion-item lines="none" [routerLink]="['/admin/student-list']"
        ><ion-icon name="people"></ion-icon>{{'Admin.Students' | translate}}</ion-item
      >
      <ion-item lines="none" [routerLink]="['/admin/teacher-list']"
        ><ion-icon name="person"></ion-icon>{{'Admin.Teachers' | translate}}</ion-item
      >
      <ion-item lines="none" [routerLink]="['/admin/courses-list']"
        ><ion-icon name="book"></ion-icon>{{'Admin.courses' | translate}}</ion-item
      >
      <ion-item lines="none" [routerLink]="['/admin/permissions']"
        ><ion-icon name="key"></ion-icon>{{'Admin.Permissions' | translate}}</ion-item
      >
      <ion-item lines="none" [routerLink]="['']" (click)="logoutUser()"
        ><ion-icon name="log-out"></ion-icon>{{'Admin.Log_out' | translate}}</ion-item
      >
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="menu-content"></ion-router-outlet>
