
  ion-header {
    background-color: #191923;
    height: 60px;
    div.logo {
      display: inline-block;
      float: left;
      img {
        height: 40px;
        margin: 10px 0 0 25px;
      }
    }

    div.home_nav {
      display: inline-block;
      float: right;
      height: 100%;
      ul {
        margin: 0 0 0 0;
        display: flex;
        align-items: center;
        height: 100%;
        li {
          display: inline-block;
          text-transform: uppercase;
          font-size: 10px;
          color: white;
          font-weight: bold;
          letter-spacing: 2px;
          cursor: pointer;
          transition: 1s;
          height: 100%;
          width: 87px;
          text-align: center;
          &:hover {
            transition: 1s;
            color: #0467b0;
            background-color: white;
          }

          &:focus {
            border: 0;
          }

          span {
            position: relative;
            top: 20px;
          }

          &:nth-child(3){
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 20px;
              position: relative;
              bottom: 3px;
            }
            &:hover {
              background-color: unset;
            }
          }
        }
      }
    }
  }

  ion-content {
    height: 100vh;
    width: 100vw;
  .login_page {
    background-size:cover;
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: center;
    background-color: #1919230f;
    .intro {
      display: block;
      box-sizing: border-box;
      height: 200px;
      width: auto;
      position: absolute;
      text-align: center;
      top: 50px;
      p {
        color: grey;
        font-size: 20px;
        letter-spacing: 2px;
      }
      img {
        height: 30px;
      }
    }
    .form_login {
      display: block;
      ion-card {
        width: 500px;
        margin-top: 35%;
        position: relative;
        top: 20px;
        background-color: white;
   ion-card-header {
     ion-card-title {
        text-align: center;
        letter-spacing: 2px;
        height: 50px;
        img {
          height: 40px;
          width: 50px;
          display: inline-block;
          float: left;
          margin-left: 5px;
        }

        span {
          display: inline-block;
          color: #191923;
          position: relative;
          right: 25px;
          margin-top: 10px;
        }
     }

     ion-card-subtitle {
       text-align: center;
     }
     div.login_error {
       width: 100%;
       height: 30px;
      border: 0.04em solid #ff0000a8;
       border-radius: 5px ;
       display: flex;
       align-items: center;
       div.error_icon {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 10%;
         background-color:#ff0000a8;
         height: inherit;
         border-radius: 5px 0 0 5px;
         ion-icon {
           color: white;
           font-size: 20px;
         }
       }

       div.error_msg {
         display: inline-block;
         float: right;
         width: 90%;
         height: inherit;
         text-align: center;
         border-radius: inherit;
         p {
           position: relative;
          bottom: 12px;
          margin-top: 20px;
          color: #ff0000a8;
          letter-spacing: 2px;
          font-size: 12px;
         }
       }
   }}
        ion-card-content {
          div.notloggedin {
          ion-label {
            letter-spacing: 1px;
          }
          ion-input {
            width: 470px;
            height: 30px;
            border: 1px solid #8080803d;
            border-radius: 15px;
            margin-top: 3px;
            &:nth-child(2){
              margin-bottom: 10px;
            }
            ion-icon {
              margin-left: 6px;
            }
            transition: 1s;
          }

          ion-button {
            margin-top:10px;
            position: relative;
            left: 37%;
            width: auto;
            div.login_btn_spinner {
              div.spinner {

              }
              div.login_btn_spinner_text {

              }
            }
          }
         h6 {
           text-align: center;
          #sign_up {
            color: white;
    background-color: #0468af;
    border-radius: 3px;
    padding: 2px;
    font-weight: 200;
    margin-left: 10px;
    cursor: pointer;
          }}
        }
      div.loggedin{
        p {
          text-align: center;
          color: grey;
        }
        width: 100%;
        .user_info {
          border-radius: 70px;
          border: 1px solid #0556921f;
          height: 120px;
          display: flex;
          align-items: center;
          .user_img {
            display: inline-block;
            float: left;
            width: 42%;
            height: inherit;
            background-color: #0468af;
            border-radius: inherit;
            transition: 1s;
            &:hover {
              transition: 1s;
              width: 55%;
              background-color: #f9c828;
            }
            img {
            height: 100px;
            width: 100px;
            margin:auto;
            position: relative;
            top: 12px;
            border-radius: 50%;
            border: 1px solid #80808014;
            }
          }
          .user_name_role {
            display: inline-block;
            float: right;
            width: 50%;
          }
        }
        div.continue_or_not_btn {
          margin-top: 8px;
          display: flex;
          justify-content: center;
          ion-button {
            &:nth-child(1){
              margin-right: 10%;
            }
          }
        }

      }}
      }
    }
  }
  div.student_img {
    position: absolute;
  bottom: 0;
  left: 0;
    img {
      height: 300px;
      width: auto;
    }
  }

  div.two_color{
    height: 100%;
    position: fixed;
    width: 10%;
    left: 80%;
    div.yellow {
      height: inherit;
      width: 50%;
      background-color: #ffcc29;
      display: inline-block;
      float: left;
    }
    div.blue {
      display: inline-block;
      height: inherit;
      width: 50%;
      background-color: #0566af;
      float: right;
    }
  }

  ion-fab {
    ion-fab-button {
      ion-icon {
        color:#ffcc29;
      }
    }
  }
}


@media screen and (max-width:768px){
  ion-header {
    div.logo {
      display:none;
    }
    div.home_nav {
      ul {
        li {
          &:nth-child(1){
            display:none;
          }
          &:nth-child(2){
          }
        }
      }
    }
  }

  ion-content {
    .student_img {
      display:none;
    }
    .form_login {
      display: flex !important;
    justify-content: center;
      width:100%;
      ion-card {
        width:65%;
        height: 410px;
        ion-card-content {
          ion-input {
            width:100% !important;
          }
        }
      }
    }
    .two_color {
      display:none;
    }
    .form_login {
      ion-card {
        //width: 400px;
      }
    }
  }
}

@media screen and (max-width:767px) {
  ion-fab {
    display: none !important;
  }
}
