<ion-menu side="start" menuId="first">
  <ion-header>
    <div class="user">
      <div class="icon" >
          <img style="height: 75px !important;" src="/assets/person.jpg" alt="account icon">
      </div>
      <div class="account_info">
        <h6>{{userName.first_name}} {{userName.last_name}}</h6>
         <p><ion-icon name="person"></ion-icon>{{'login.role.teacher' |translate}}</p>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" [routerLink]="['']"><div> <ion-icon name="chatboxes"></ion-icon>{{'r_teacher_menus.messages' |translate}} </div></ion-item>
      <ion-item lines="none" [routerLink]="['usersandgroup']" (click)="toGroupChat()"><div> <ion-icon name="chatboxes"></ion-icon>{{'r_teacher_menus.group_chat' |translate}} </div></ion-item>
      <!-- <ion-item lines="none" [routerLink]="['school-list']" (click)="toSchoolList()"><ion-icon name="home"></ion-icon>Schools</ion-item> -->
      <ion-item lines="none" [routerLink]="['student-list']" (click)="toStudentList()"><ion-icon name="people" ></ion-icon>{{'r_teacher_menus.students' |translate}}</ion-item>
      <ion-item lines="none" [routerLink]="['courses-list']" (click)="toCourseList()"><ion-icon name="book"></ion-icon>{{'r_teacher_menus.courses' |translate}}</ion-item>
      <ion-item lines="none" [routerLink]="['exam-list']" (click)="toExamList()"><ion-icon name="paper"></ion-icon>{{'r_teacher_menus.exams' |translate}}</ion-item>
      <ion-item lines="none" [routerLink]="['online-exam']" (click)="toOnlineClass()"><ion-icon name="camera"></ion-icon>{{'r_teacher_menus.online_class' |translate}}</ion-item>
      <ion-item lines="none" [routerLink]="['collaboration']" (click)="toCollaboration()"><ion-icon name="git-network"></ion-icon>{{'r_teacher_menus.collaboration' |translate}}</ion-item>
      <ion-item lines="none" [routerLink]="['/rteacher/update-profile']"><ion-icon name="finger-print" ></ion-icon>{{'common_menu.update_profile' |translate}}</ion-item>
      <ion-item lines="none" [routerLink]="[]" (click)="logoutUser()"><ion-icon name="log-out"></ion-icon>{{'common_menu.logout' |translate}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main>

</ion-router-outlet>
