<div class="card">
  <div class="card-header">
      Create New Exam
      <button (click)="dismiss()" class="btn btn-sm btn-danger float-right">X</button>
  </div>
  <div class="card-body" style="height:400px;overflow: auto !important;">
    <form #f="ngForm" class="form"
    (ngSubmit)="onSubmit()" >

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">School *</span>
      </div>
       <select class="custom-select" required name="schoolDropdown"  
       [(ngModel)]="examModal.school" id="ddlSchool" 
       (change)="onSchoolChange($event.target.value)">
        <option value="">{{loadingSchool}}</option>
        <option *ngFor="let school of schoolList" value={{school._id}}>
          {{school.school.school_name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">Course *</span>
      </div>
       <select class="custom-select" required name="curriculumDropdown"  
       [(ngModel)]="examModal.course" id="ddlCurriculum" 
       >
        <option value="">{{loadingCourse}}</option>
        <option *ngFor="let c of courseList" value={{c._id}}>
          {{c.name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="Exam_Type">Type *</span>
      </div>
      <select class="custom-select"  required name="examType"  
       [(ngModel)]="examModal.Exam_Type" id="examType"  (change)="onExamTypeChange($event.target.value)"
       >
        <option value="">---Select---</option>
        <option value="Exam">Exam</option>
        <option value="Quiz">Quiz</option>
        <option value="Practice">Practice</option>
      </select>
    </div>
    <div >
      <table class="table table-sm ">
        <tr>
        <th>
          <input type="checkbox"  name="checkAll"  value="CheckAll">
        </th>
        <th>Choose Questions for Exam</th>
      </tr>
      <tr *ngFor="let q of questionList">
        <td>
          <input type="checkbox"  name={{q._id}} [(ngModel)]="q.checked" value={{q._id}}>
        </td>
        <td>
          {{q.Question_title}}
        </td>
      </tr>
      </table>

    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="examName">Exam Name *</span>
      </div>
      <input type="text" [(ngModel)]="examModal.Exam_Name" name="examName" required  class="form-control">      
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="examDescription">Description </span>
      </div>
      <input type="text" [(ngModel)]="examModal.Exam_Description" name="examDescription"  class="form-control">      
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="Exam_StartDateTime">Start Date </span>
      </div>
      <input type="date" [(ngModel)]="examModal.Exam_StartDateTime" name="Exam_StartDateTime"  class="form-control">      
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="Exam_EndDateTime">End Date </span>
      </div>
      <input type="date" [(ngModel)]="examModal.Exam_EndDateTime" name="Exam_EndDateTime"  class="form-control">      
    </div>
    

    <input type="submit" class="btn btn-success" [disabled]="!f.valid"  value="Create Exam" />

    

    </form>
</div>
</div>
