<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Exam List</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="add_exam" [hidden]="addExamOrnot" (click)="addExam()">
    <div class="add">
      <p>Add a new Exam</p>
      <ion-icon name="add"></ion-icon>
    </div>
  </div>
  <ion-grid class="exams">
    <ion-row>
      <ion-col size-md="4" size-lg="4" size-sm="12" *ngFor="let exam of allExams">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >{{exam.Exam_Description}}
              <ion-button
                class="float-right"
                size="small"
                (click)="deleteExam(exam._id)"
              >
                <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-nav-link class="cursor-pointer" (click)="viewExam(exam._id)">
                {{exam.Exam_Name}}</ion-nav-link
              >
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Start at: {{exam.Exam_StartDateTime}}<br />
            Ends at: {{exam.Exam_EndDateTime}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
