ion-header {
  background-color: #191923;
      height: 60px;
      ion-buttons {
        color: white;
        ion-menu-button {
          margin-top: 7px;
          font-size: 25px;
        }
        ion-title {
          margin-top: 5px;
        }
      }
}

ion-content {
  .add_role {
    display: inline-block;
    box-sizing: border-box;
    height: 75px;
    width: 200px;
    background-color: #8080801f;
    border-radius: 5px;
    margin: 15px;
    .add {
      color: grey;
      display: flex;
      align-items: center;
      padding-top: 7px;
      p {
        display: inline-block;
        width: 63%;
        text-align: center;
      }
      ion-icon {
        font-size: 44px;
        padding: 9px;
        background-color: #0c0c0c24;
        border-radius: 8px;
        color: #19192347;
        transition: 1s;
        &:hover {
          cursor: pointer;
          transition: 1s;
          background-color: #191923;
          color: white;
        }
      }
    }
  }

  div.placeholder {
    text-align: center;
    p {
      color: grey;
    }
  }
}
