<ion-header>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Student list</ion-title>
    </ion-buttons>
</ion-header>

<ion-content padding>
  <div class="placeholder" >
    <div class="table-responsive-sm">
    <table class="table table-sm table-bordered table-striped " >
      <thead >
      <tr>
      <th>
        #
      </th>
      <th style="width:20%">
        User Name
      </th>
      <th style="width:20%">
        First Name
      </th>
      <th style="width:22%">
        Last Name
      </th>
      <th>
        Email
      </th>
      <th>
        Phone
      </th>
      <!-- <th>
      </th> -->
    </tr>
  </thead>
    <tr *ngFor="let student of studentList; let i=index">
      <td>{{i+1}}</td>
      <td>{{ student.username}}</td>
      <td> {{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phone_number}}</td>

      <!-- <td>
        <ion-buttons>
        <button class="btn btn-sm btn-warning" [routerLink]="['add-course', {'id': course._id}]">
          <ion-icon name="md-create"></ion-icon>
        </button>
        <button (click)="showModal(course);" class="btn btn-sm btn-success">
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button (click)="deleteCourse(course._id);" class="btn btn-sm btn-danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
      </td> -->
    </tr>
    </table>
  </div>
  </div>
</ion-content>
