<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-title>Online Class</ion-title>
    </ion-buttons>
</ion-header>

<ion-content padding>

  <div class="row"> 
    <div class="col-md-2">

<div class="row"  (click)="showMeetingModal()">
  <div  class="btn btn-outline-secondary  btn-block">
    <p>{{'meeting.title' | translate}}</p>
    <ion-icon name="camera"></ion-icon>
  </div>
</div>
    </div>
    <div class="col-md-10" >
      
        <div class="input-group mb-3" >
          <div class="input-group-prepend">
            <span class="input-group-text"  id="inputGroupFileAddon01">{{'Courses_list.choose_school' | translate}}</span>
          </div>
          
           <select class="custom-select" required name="schoolDropdown"
            id="ddlSchool"
           (change)="onSchoolChange($event.target.value)">  
            <option value="">--{{'Courses_list.select' | translate}}--</option>
            <option *ngFor="let school of schoolList" value={{school._id}}>
              {{school.school.school_name}}
            </option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text"  id="inputGroupFileAddon01">{{'create_exam.course' | translate}}</span>
          </div>
          
            <select class="custom-select" required name="curriculumDropdown"  
           [(ngModel)]="meetingModel.course" id="ddlCurriculum" 
           (change)="onCourseChange($event.target.value)">
           >
            <option value="">{{'create_exam.select' | translate}}</option>
            <option *ngFor="let c of courseList" value={{c._id}}>
              {{c.name}}
            </option>
          </select>
         
        </div>

      <div class="table-responsive-sm">
        <table class="table table-bordered table-sm" style="width: 100%;;">
          <tr>
          <th>
            #
          </th>
          <th>
            {{'meeting.meeting_name' | translate}}
          </th>
          <th>
            {{'meeting.meeting_description' | translate}}
          </th>
          <th>{{'meeting.meeting_share' | translate}}</th>
          <th>{{'meeting.meeting_link' | translate}}</th>
          
          <th></th>
        </tr>
        <tr *ngFor="let q of meetingList; let i =index">
          <td>{{i+1}}</td>
          <td>{{q.meetingName}}</td>
          <td >{{q.meetingDescription}}</td>
          <td>
            https://desolate-dawn-06624.herokuapp.com/?room={{q._id}}
          </td>
          <td>
            <button (click)="onstartmeeting(q._id)" class="btn btn-sm btn-info" >Start Meeting</button><br>
            <!-- <a href="https://desolate-dawn-06624.herokuapp.com/?room={{q._id}}" target="_blank">Start Meeting</a><br> -->
            
          </td>
          
          <td>
            <ion-buttons>
              <button  class="btn btn-sm btn-danger">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-buttons>
          </td>
        </tr>
        </table>
      </div>
    
    </div>
      <!-- <iframe *ngIf="showIframe"
      width="100%"
      height="100%"
      [src]="url"
      frameborder="0"
      allowfullscreen
    ></iframe> -->
   
  </div>

  <!-- <ion-card >
    <ion-item>
      <ion-grid fixed="true" style="width: 100%;">
        <ion-row>
          <ion-col size="9" >
            
            <video class="local_video" #local_video [autoplay]="true" poster="assets/icon/user.png" [muted]="true"></video>
            <div style="text-align: center;">
              <div class="btn-group mr-2" role="group" aria-label="First group">
               
                <button type="button" class="btn btn-primary" (click)="startLocalVideo()" [disabled]="localVideoActive">Start Camera</button>&nbsp;
                <button type="button" class="btn btn-success" (click)="call()">Remote Call</button>&nbsp;
                <button type="button" class="btn btn-danger" (click) ="hangUp()">Hangup</button>&nbsp;
                <button type="button" class="btn btn-warning">Mute Audio</button>&nbsp;
                <button type="button" class="btn btn-secondary" (click)="pauseLocalVideo()" [disabled]="!localVideoActive" >Mute Video</button>&nbsp;
              </div>
            </div>  
          </ion-col>
          <ion-col size="3" style="overflow: auto; " >
            <video class="remote_video" #received_video [autoplay]="true" poster="assets/icon/user.png" ></video>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
  </ion-card> -->
</ion-content>
