video{
    width: 100%;
    background: #191923;
}

.remote_video{
    height: 200px;
}
.local_video{
    min-height: 600px;
}
ion-header {
    background-color: #191923;
        height: 60px;
        ion-buttons {
          color: white;
          ion-menu-button {
            margin-top: 7px;
            font-size: 25px;
          }
          ion-title {
            margin-top: 5px;
          }
        }
  }
  
  ion-content {
    div.placeholder {
      margin-top: 9px;
      text-align: center;
      color: grey;
    }
  }
  
  .add_role {
    display: inline-block;
    box-sizing: border-box;
    height: 75px;
    width: 200px;
    background-color: #8080801f;
    border-radius: 5px;
    margin: 15px;
    position: fixed;
    .add {
      color: grey;
      display: flex;
      align-items: center;
      padding-top: 4px;
      p {
        display: inline-block;
        padding: 9px;
        font-size: 13px;
      }
      ion-icon {
        font-size: 44px;
        padding: 9px;
        background-color: #0c0c0c24;
        border-radius: 8px;
        color: #19192347;
        transition: 1s;
        margin-top: 2px;
        &:hover {
          cursor: pointer;
          transition: 1s;
          background-color: #191923;
          color: white;
        }
      }
    }
  
    &:focus {
      outline: 0;
    }
  }
  
  .courses {
    width: 79.8%;
      position: relative;
      left: 19%;
      height: 9000px;
      background: #80808036;
      border-radius: 5px;
      margin-top:10px;
  }
  