<div class="card">
  <div class="card-header">
    {{'exam_popup.multi_choice_title' | translate}}
      <button (click)="dismiss()" class="btn btn-sm btn-danger float-right">X</button>
  </div>
  <div class="card-body" style="height:400px;overflow: auto !important;">
    <form #f="ngForm" class="form"
    (ngSubmit)="onSubmit()" >

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">{{'exam_popup.school' | translate}} *</span>
      </div>
       <select class="custom-select" required name="schoolDropdown"  
       [(ngModel)]="questionModal.school" id="ddlSchool" 
       (change)="onSchoolChange($event.target.value)">
        <option value="">{{'exam_popup.school' | translate}}</option>
        <option *ngFor="let school of schoolList" value={{school._id}}>
          {{school.school.school_name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">Course *</span>
      </div>
       <select class="custom-select" required name="curriculumDropdown"  
       [(ngModel)]="questionModal.course" id="ddlCurriculum" 
       >
        <option value="">{{'exam_popup.course' | translate}}</option>
        <option *ngFor="let c of courseList" value={{c._id}}>
          {{c.name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">{{'exam_popup.question_for' | translate}} *</span>
      </div>
      <select class="custom-select" required name="questionForDropdown"  
       [(ngModel)]="questionModal.Question_for" id="ddlQuestionFor" 
       >
        <option value="">---{{'exam_popup.select' | translate}}---</option>
        <option value="Exam">{{'exam_popup.exam' | translate}}</option>
        <option value="Quiz">{{'exam_popup.quiz' | translate}}</option>
        <option value="Practice">{{'exam_popup.practice' | translate}}</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="questionTitle">{{'exam_popup.question' | translate}} *</span>
      </div>
      <input type="text" [(ngModel)]="questionModal.Question_title" name="questionTitle"  class="form-control">      
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="questionOption">{{'exam_popup.options' | translate}} *</span>
      </div>
      <input type="text" [(ngModel)]="questionModal.option" name="questionOption"  class="form-control">      
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="onAddOption(questionModal.option)" >{{'exam_popup.add' | translate}}</button>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroupFileAddon01">{{'exam_popup.correct_answer' | translate}} *</span>
      </div>
      <select class="custom-select" required name="CorrectAnswerDropdown"  
       [(ngModel)]="questionModal.Correct_answer" id="ddlCorrectAnswer" 
       >
        <option value="">---{{'exam_popup.select' | translate}}---</option>
        <option *ngFor="let o of questionModal.Question_options" value={{o.optionid}}>{{o.optionid}}</option>
        
      </select>
    </div>

    <input type="submit" class="btn btn-success" [disabled]="!f.valid"  value="{{'exam_popup.save_question' | translate}}" />

    <div >
      <table class="table table-sm ">
        <tr *ngFor="let o of questionModal.Question_options">
          <td>
            {{o.optionid}}
          </td>
          <td>
          {{o.option}}
        </td></tr>
      </table>
    </div>

    </form>
</div>
</div>
